/* Global styles */
:root {
  --blue: #61DAFB;
  --gray: #262626;
  --darkgray: rgb(26,26,26);
  --lightgray: #808080;
}
html, body {
  font-family: sans-serif;
  background: var(--gray);
  color: white;
  margin: 0px;
  padding: 0px;
}

.bold {
  font-weight: bold;
}
.blue {
  color: var(--blue);
}
.flex {
  display: flex;
}
a {
  color: var(--blue);
}
p, li {
  line-height: 25px;
}
pre, code {
  font-size: 1rem;
  border-radius: 4px;
  padding: 5px;
  overflow-x: scroll;
}
.link {
  cursor: pointer;
  text-decoration: underline;
}

/*  Website header styling */
#website-header {
  padding: 20px 25px;
  height: 120px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px black;
  z-index: 10;
  margin: 0px;
  position: relative;
  background: var(--gray);
}
#menu-icon {
  display: inline-block;
  width: 30px;
  height: 20px;
  margin-right: 15px;
  margin-bottom: -20px;
  background-image: url(assets/menu-icon.png);
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 0.5;
}
#menu-icon:hover {
  opacity: 1;
}
h1 {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
#website-header p {
  color: gray;
  margin-top: 10px;
  margin-left: 0px; /*45px;*/
}
#react-logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0px 5px 0px 15px;
  background-image: url(assets/react-logo.png);
  background-size: cover;
}


/* Page container, side bar, and content container */
#page-container {
  display: flex;
}
#side-bar {
  width: 275px;
  min-width: 275px;
  height: calc(100vh - 120px);
  box-shadow: 0px 0px 10px black;
  padding-top: 10px;
  box-sizing: border-box;
  z-index: 5;
  background: var(--darkgray);
  position: relative;
}
#side-bar nav div {
  margin: 15px 0px 20px 40px;
  cursor: pointer;
  position: relative;
}
#side-bar nav div::after {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 3px var(--blue);
  display: block;
  position: absolute;
  top: -3px;
  left: -33px;
}
#side-bar nav div.side-bar-spacer::after {
  display: none;
}
#side-bar nav div.selected {
  font-weight: bold;
  color: var(--blue);
}
#side-bar nav div.selected::after {
  background: var(--blue);
}
#side-bar nav div#glossary {
  position: absolute;
  bottom: 50px;
}

#page-content-container {
  width: 100%;
  overflow-y: scroll;
}
#page-content {
  width: 800px;
  margin: 0 auto;
  height: calc(100vh - 120px);
  position: relative;
  padding: 25px 100px 400px 100px;
  box-sizing: border-box;
}
.bottom-padding {
  height: 300px;
  width: 10px;
}

h2 {
  font-weight: normal;
  font-size: 2em;
}



/* Demo 1: */
.comment-section {
  width: 300px;
  min-height: 100px;
  background: var(--darkgray);
  box-shadow: 0px 0px 10px black;
}
.comment-header {
  width: 100%;
  background: var(--gray);
  color: var(--lightgray);
  font-weight: bold;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}
.comment-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
}
.comment-container:not(:last-of-type) {
  border-bottom: solid 1px var(--lightgray);
}
.comment-container img {
  width: 30px;
  height: 30px;
}
.comment-name {
  font-size: .9em;
  color: var(--lightgray);
}
.comment-text {
  width: 200px;
}


#demo-3-vanilla, #demo-3-react {
  text-align: center;
  width: 100%;
}
.demo-3-container {
  width: 50%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.user-badge {
  background: #808080;
  height: 50px;
  min-width: 200px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.user-badge span {
  padding-left: 10px;
}